/node_modules
/public/hot
/public/uploads
/public/storage
/public/demos/*
/storage/app/public/uploads/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/resources/views/frontend/custom/*
/resources/layouts/custom/*
/resources/assets/sass/frontend/_custom.scss
