/node_modules
/public/hot
/public/uploads
/public/storage
/public/demos/*
/public/css/*
/public/js/*
/public/images/*
/public/fonts/*
/public/mix-manifest.json
/storage/app/public/uploads/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/resources/views/frontend/custom/*
/resources/views/layouts/custom/*
/resources/assets/sass/frontend/_custom.scss
/resources/assets/sass/frontend/custom/*
/resources/assets/images/frontend/custom/*
/composer.lock
webpack.mix.js

public/css/_custom.css

public/css/all.css

public/css/backend.css

public/js/all.js

public/js/app.js

public/js/backend.js

public/mix-manifest.json

webpack.mix.js
